---
name: signup_en
url: /en/signup
title: Signup
controller: LoginController
loginRequired: false
logoutRequired: true
---
<div class="grid-container large-8 signup-page">
	<div class="grid-block align-center force-wrap">
		<div class="grid-content large-12 medium-12 small-12">
			<div class="card corner bg-white shadow signup-card" style="box-shadow: 0 9px 20px 0 rgba(93,93,93,.4) !important; border-radius: 6px; margin-top: 12rem;">
				<div class="card-section left-card login-input-margin">
					<!-- <div class="frida-outer">
						<div class="our-frida"></div>
					</div> -->
					<p class="color-gray frida-message" style="font-weight: 500; color: #5320a9 !important; font-size: xx-large; border-bottom: 1px solid #ebebeb">Create your account</p>

					<div class="grid-content large-7 medium-6 small-12" style="float: left; padding-bottom: 2rem;">
						<form class="signup-form flex-form user-signup" name="signupform">
							<div class="grid-content large-12 medium-12 small-12 signup-section-text-outer">
								<!-- <p class="color-gray signup-section-text">Company Details</p> -->
								<h4 class="center">Company Details</h4>
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<input class="form-input-fields" ng-class="{ 'form-validation-error' : signupform.compName.$error.required && !signupform.compName.$pristine && signupform.compName.$touched}" type="text" name="compName" placeholder="Company Name" ng-model="signup.company.name" required/>
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<select name="typeselector" class="form-input-fields" ng-model="signup.company.type" required  onchange="this.className='selected_select'"  ng-class="{ 'form-validation-error' : signupform.typeselector.$error.required && !signupform.typeselector.$pristine && signupform.typeselector.$touched}">
									<option value="" disabled selected style="display: none;">Legal Form</option>
									<option value="AG">AG</option>
									<option value="AG &#38 Co. KG">AG &#38 Co. KG</option>
									<option value="e.V.">e.V.</option>
									<option value="e.G.">e.G.</option>
									<option value="GbR">GbR</option>
									<option value="GmbH">GmbH</option>
									<option value="GmbH &#38 Co. KG">GmbH &#38 Co. KG</option>
									<option value="KG">KG</option>
									<option value="KGaA">KGaA</option>
									<option value="OHG">OHG</option>
									<option value="UG">PartG</option>
									<option value="UG">PartG mbH</option>
									<option value="UG">PartG mbB</option>
									<option value="Sonstige">Sonstige</option>
									<option value="Stiftung bürgerlichen Rechts">Stiftung bürgerlichen Rechts</option>
									<option value="Stiftungs GmbH">Stiftungs GmbH</option>
									<option value="Stiftungs Verein">Stiftungs Verein</option>
									<option value="Treuhandstiftung">Treuhandstiftung</option>
									<option value="UG">UG</option>
								</select>
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<input name="compAddress" class="form-input-fields" ng-class="{ 'form-validation-error' : signupform.compAddress.$error.required && !signupform.compAddress.$pristine && signupform.compAddress.$touched}" type="text" placeholder="Street, Number" ng-model="signup.address.street" required  />
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<input name="compCity" ng-class="{ 'form-validation-error' :
								signupform.compCity.$error.required &&
								!signupform.compCity.$pristine &&
								signupform.compCity.$touched}" class="form-input-fields" type="text" placeholder="City" ng-model="signup.address.city" required/>
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<input name="compZipCode" class="form-input-fields" ng-class="{ 'form-validation-error' : signupform.compZipCode.$error.pattern && !signupform.compZipCode.$pristine && signupform.compZipCode.$touched}" type="text" placeholder="Zip" ng-model="signup.address.zip"  ng-pattern= "/^[0-9]{3,6}$/" required/>
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<input name="compPhoneNum" class="form-input-fields" ng-class="{ 'form-validation-error' : signupform.compPhoneNum.$error.pattern && !signupform.compPhoneNum.$pristine && signupform.compPhoneNum.$touched}" type="text" placeholder="Phone" ng-model="signup.company.phone"  ng-pattern= "/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?[0-9 -]+[0-9]$/" required />
							</div>
							<!-- <div class="grid-content large-6 medium-6 small-12">
								<select class="selected_select" ng-model="signup.address.country" required >
									<option value="Deutschland" selected="selected" style="display: none;">Deutschland</option>
								</select>
							</div> -->
							<div class="grid-content large-12 medium-12 small-12"></div>
							
							<div class="grid-content large-12 medium-12 small-12 signup-section-text-outer">
								<!-- <p class="color-gray signup-section-text">Personal Details</p> -->
								<h4 class="center">Personal Details</h4>
							</div>
							
							<div class="grid-content large-6 medium-6 small-12">
								<input name="userFirstName" class="form-input-fields" ng-class="{ 'form-validation-error' : signupform.userFirstName.$error.pattern && !signupform.userFirstName.$pristine && signupform.userFirstName.$touched}" ng-pattern="/^[^0-9[\]:;|=+*?<>/\\,]+$/" type="text" placeholder="Firstname" ng-model="signup.user.first_name" required/>
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<input name="userLastName" ng-class="{ 'form-validation-error' : signupform.userLastName.$error.pattern  && !signupform.userLastName.$pristine && signupform.userLastName.$touched}" ng-pattern="/^[^0-9[\]:;|=+*?<>/\\,]+$/" class="form-input-fields" type="text" placeholder="Lastname" ng-model="signup.user.last_name" required/>
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<input name="userEmail" class="form-input-fields" ng-class="{ 'form-validation-error' :   signupform.userEmail.$error.email && !signupform.userEmail.$pristine && signupform.userEmail.$touched}" type="email" placeholder="Email" ng-model="signup.user.email" required/>
							</div>
							<div class="grid-content large-6 medium-6 small-12">
								<input class="form-input-fields" type="password" placeholder="Password" ng-model="signup.user.password" required/>
							</div>
							<div class="grid-content large-1 medium-1 small-1">
								<input name ="termsAndConditions" type="checkbox" id="test5" class="filled-in"  ng-model="termsAndConditions" required/>

								<label for="test5"></label>
							</div>
							<div class="grid-content large-11 medium-11 small-11 terms-conditions-outer">
								<p class="color-gray">I accept the <span class="signup-terms-conditions" zf-open="terms_and_conditions">Terms and Conditions</span></p>
							</div>
							<!-- <div class="grid-content large-12 medium-12 small-12">
								<p ng-show="signupform.termsAndConditions.$error.required" class="centered-text form-validation-error-msg">Please accept the terms and conditions</p>
							</div> -->
							<div class="liimefix-small">
							</div>
							<div class="grid-content center large-12 medium-12 small-12">
								<button class="btn-violett" type="submit" ng-click="Signup(signupform)" ng-disabled="disableNxtBtn; !signupform.$valid">Create Account</button>
							</div>
							<div class="grid-content center large-12 medium-12 small-12">
								<button class="btn-violett-inverse" type="button" ui-sref="login_en">Sign In</button>
							</div>
						</form>
					</div>

					<div class="grid-content large-5 medium-6 small-12" style="float: left; padding: 4.5rem 0;">
						<div class="grid-content large-12 medium-12 small-12 login-card-form-container">
							<h4>Enter the official information of the company you are registering.</h4>
							<h4>Please make sure you enter the correct data, some of the things would not be changed after registering.</h4>
							<h4>Then enter your personal information. You can change it later.</h4>
							<h4>You can also join a company without registering, ask them to invite you!</h4>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="" src="'partials/en/modals/termsandconditions.html'"></div>

<script type="text/javascript">
	$('.navbar-hamburger-outer').hide();
	$('.navmenu-main').hide();

	$(window).on('resize', function(){
		if($('.card.corner').hasClass('signup-card')) {
			$('.navbar-hamburger-outer').hide();
			$('.navmenu-main').hide();
		}
	});
</script>
