---
name: verify_en
url: /en/verify
title: Verify
controller: VerifyController
loginRequired: true
forceRequired: true
---
<div class="grid-container">
	<!-- LOGIN FORM -->
	<div class="grid-block align-center">
		<div class="grid-content large-8 medium-8 small-12">
			<div class="card corner bg-white shadow login-card">
				<div class="card-section left-card">
					<!-- <div class="grid-content color-blue-middle center">
						<h2 class="medium_title no-btm-padding">Thank you!</h2>
					</div> -->
					<div class="grid-content color-blue-middle center">
						<!-- <img class="img-thanks" src="assets/img/monogram_color.svg" alt=""> -->
						<div class="frida-outer">
							<div class="our-frida"></div>
						</div>
					</div>
					<p class="color-gray frida-message frida-message-contact">Thank you!</p>
					<div class="grid-content color-blue-middle center lil-padding">
						<p class="color-gray small-p">Please use the email we sent you to verify your email address. Use the button below to resend the email, in case it got lost in cyberspace. </p>
					</div>
					<div class="grid-content center">
						<button class="btn-yellow" type="submit" ng-click="ResendVerificationEmail()">Resend Verification Email</button>
					</div>
					<div class="grid-content center">
						<button class="btn-yellow" type="submit" ng-click="recheck()">Already verified</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.navmenu-main').hide();
	$('.navbar-hamburger-outer').hide();
	$('.fixed-details-right').show();

	if($(window).width()>319 && $(window).width()<768) {
		$('.fixed-details-right').show();
		$('.outerlogoutright').show();

		$('.invisible_nav .fixed-details-right').css('cssText', 'background: transparent !important');
		$('.logout-initial').css('cssText', 'margin: 0');
	}
	
	$(window).on('resize', function(){
		if($('.card.corner').hasClass('login-card')) {
			$('.navbar-hamburger-outer').hide();
			$('.navmenu-main').hide();
		}

		if($(window).width()>319 && $(window).width()<768) {
			$('.fixed-details-right').show();
			$('.outerlogoutright').show();

			$('.invisible_nav .fixed-details-right').css('cssText', 'background: transparent !important');
			$('.logout-initial').css('cssText', 'margin: 0');
		} else {
			$('.logout-initial').css('cssText', 'margin: 0 2rem 0.1rem');
		}
	});	
</script>
