<!-- Page View -->
<div class="grid-block instantproduct-main" ng-controller="InstantProductSelectController">
	<div class="grid-content large-12 medium-12 small-12 instantproduct-heading">
		<div class="frida-outer">
			<div class="our-frida"></div>
		</div>
		<p class="color-gray frida-message">{{page_data.page_title_en || 'missing_title'}}</p>
	</div>
	<div class="grid-block large-12 medium-12 small-12 instantproduct-comparison-outer">
		<!-- Product Comparison View -->
		<div class="grid-block large-12 medium-12 small-12 comparison-deductible-outer">
			<div class="grid-content large-7 medium-6 small-12 instantproduct-decuctible-qs right-align">
				<h4>Choose your preferred deductible</h4>
			</div>
			<div class="grid-content large-5 medium-6 small-12 left-align">
				<select class="instantproduct-dropdown-deductible" ng-model="deductible" ng-selected="GetComparisonPlan(deductible)">
					<option ng-repeat="(key, value) in comparisons" ng-value="{{key}}">{{key}}</option>
				</select>
			</div>
		</div>
		<div class="grid-block large-12 medium-12 small-12 comparison-box-outer align-center">
			<div class="grid-content large-4 medium-4 small-12 comparison-box comparison-plan" ng-repeat="(comparison_key, comparison_value) in comparisonPlan">
				<div class="comparison-box-heading {{page_data.chosen_comparison === comparison_key && 'comparison-our-recommendation'}}">
					{{page_data.chosen_comparison === comparison_key ? 'Chosen: '+comparison_value.title : comparison_value.title}}
				</div>
				<div class="comparison-container">
					<div class="comparison-box-specific">
						<h4 class="comparision-feature-name">from <span class="product-price">{{comparison_value.premium_monthly | euro}}</span>/month</h4>
						<div class="comparison-box-specific comparison-box-button">
							<button type="button" class="btn-yellow" ng-click="SaveComparison(comparison_key, deductible, false)" ng-disabled="page_data.chosen_comparison === comparison_key">
								<b>{{page_data.chosen_comparison === comparison_key ? 'Selected' : 'Select Product'}}</b>
							</button>
						</div>
					</div>
					<div style="display: block;">
						<div class="comparison-box-specific" ng-repeat="(criteria_key, criteria_value) in comparison_value.criteria | orderBy:'order'">
							<h2 class="comparision-feature-main">
								{{criteria_value.amount}}
							</h2>
							<h4 class="comparision-feature-name">
								{{criteria_value.text_en}}
							</h4>
						</div>
						<div class="comparison-box-specific" ng-if="comparison_value.notes_html">
							<h2 class="comparision-feature-main product-comparison-notes" ng-show="transformToHtml(comparison_value.notes_html)" ng-bind-html="transformed_html">
							</h2>
						</div>
						<div class="comparison-box-specific comparison-box-download" ng-repeat="(download_key,download_value) in comparison_value.documents" ng-if="download_value" ng-hide="true">
							<p ng-show="!!download_value" class="light color-liimex-blue pointer p-button dark-hover comparison-download-available" zf-open="download_files_modal" ng-click="PrepareDownloads(download_value)">
								<i class="fa fa-download" aria-hidden="true"></i>
								Download File
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-block large-12 medium-12 small-12 instantproduct-actions">
			<div class="grid-content large-12 medium-12 small-12 center instantproduct-contactus">
				<p class="instantproduct-contactus-text">Not the one you are looking for?</p>
				<h3 class="color-liimex-blue contactus-number-email" ui-sref="contactus_en">
					<i class="fa fa-phone-square" aria-hidden="true"></i>
					Let's talk and find one for you
				</h3>
			</div>
			<div class="grid-content small-12 {{page_data.chosen_comparison>=0 ? 'large-6 medium-6 right-align' : 'large-12 medium-12 center'}}">
				<button class="btn-yellow-inverse" type="button" ng-show="show_prev" ng-click="goBack()">Back</button>
			</div>
			<div class="grid-content large-6 medium-6 small-12 left-align" ng-if="page_data.chosen_comparison>=0 && page_data.chosen_deductible">
				<button class="btn-yellow" type="button" ng-click="SaveComparison(page_data.chosen_comparison, page_data.chosen_deductible, true)">Next</button>
			</div>
		</div>
	</div>
</div>
