<!-- Page View -->
<div class="grid-block instantproduct-main" ng-controller="RetryController">
	<div class="grid-content large-12 medium-12 small-12 instantproduct-heading">
		<div class="frida-outer">
			<div class="our-frida"></div>
		</div>
		<p class="color-gray frida-message">Im sorry, the requested page is not available</p>
	</div>
	<div class="grid-content large-12 medium-12 small-12 centered-text">
		<button class="btn-yellow button-margin" ng-click="goBack()">Go Back</button>
	</div>
</div>
