<div class="top-padding mandate-inner">
<!-- <div class="card corner bg-white shadow top-padding"> -->
	<div class="card-section account-padding flex-form mandate-full-container">
		<img class="mandate-logo" src="assets/img/logo_full_color.svg" alt="">
		<div class="grid-content large-12 medium-12 small-12 mid-btm-margin">
      <p class="mandate-text tight-text">Liimex GmbH</p>
			<p class="mandate-text tight-text color-liimex-blue">Abendrothsweg 67</p>
      <p class="mandate-text tight-text color-liimex-blue">20251 Hamburg</p>
		</div>
    <div class="grid-content large-12 medium-12 small-12 mid-btm-margin">
      <p class="mandate-text tight-text">{{user.first_name}} {{user.last_name}}</p>
      <p class="mandate-text tight-text color-liimex-blue">{{company.name}}</p>
			<p class="mandate-text tight-text color-liimex-blue">{{main_address.street}}</p>
      <p class="mandate-text tight-text color-liimex-blue">{{main_address.zip}}  {{main_address.city}}</p>
		</div>
    <div class="grid-content large-12 medium-12 small-12">
      <p class="policy-color-gray mandate-text"><b>Vertragsparteien/Vertragsgegenstand</b></p>
      <p class="policy-color-gray mandate-text mid-btm-margin">Der Auftrag-/Vollmachtgeber (nachfolgend „Kunde“) beauftragt den Versicherungsmakler Liimex GmbH (nachfolgend „<b>Liimex</b>“ oder „<b>Makler</b>“) mit der Vermittlung und dem Abschluss künftiger sowie der Verwaltung und Änderung bestehender Versicherungsverträge, auch wenn diese nicht von Liimex vermittelt wurden.</p>
      <p class="policy-color-gray mandate-text mid-btm-margin">Die digitale Verwaltung und Betreuung von Versicherungsverträgen mittels der Digitalen Versicherungsakte kann nur übernommen werden, wenn Liimex die Versicherungsverträge in digitaler Form zur Verfügung gestellt wurden. Liimex wird nach der Erteilung des Maklerauftrages die Vertragsdetails bestehender Versicherungsverträge bei den Versicherern des Kunden abfragen. Falls die Versicherer Liimex die Vertragsdaten nicht zur Verfügung stellen, wird der Kunden hierüber umgehend informiert.</p>
      <p class="policy-color-gray mandate-text mid-btm-margin">Liimex ist bevollmächtigt, die zur Neuordnung der Verträge notwendigen Verhandlungen schriftlich oder mündlich mit dem Versicherer zu führen, sowie Versicherungsverträge des Kunden</p>
      <ol>
        <li type="disc" class="policy-color-gray mandate-text">neu abzuschließen,</li>
        <li type="disc" class="policy-color-gray mandate-text">zu verlängern</li>
        <li type="disc" class="policy-color-gray mandate-text">zu verändern</li>
        <li type="disc" class="policy-color-gray mandate-text">stillzulegen</li>
        <li type="disc" class="policy-color-gray mandate-text">aufzuheben, oder</li>
        <li type="disc" class="policy-color-gray mandate-text">zu kündigen</li>
      </ol>
      <p class="policy-color-gray mandate-text mid-btm-margin">Die Vollmacht berechtigt Liimex ferner, Ansprüche aus dem Versicherungsvertrag im Versicherungsfall gegenüber dem Versicherer geltend zu machen. Liimex wird nur nach vorheriger Einwilligung des Kunden von der Vollmacht Gebrauch machen, um neue Verträge abzuschließen oder bestehende Verträge zu ändern. Die Auszahlung der Versicherungsleistung erfolgt ausschließlich direkt an den Kunden. Liimex ist zudem berechtigt, mit Maklerpools zusammenzuarbeiten und Untervollmachten zu erteilen.</p>
      <p class="policy-color-gray mandate-text mid-btm-margin">Im Übrigen gelten die Allgemeinen Geschäftsbedingungen von Liimex.</p>
      <p class="policy-color-gray mandate-text"><b>Datenschutzerklärung / Entbindung von der Schweigepflicht</b></p>
			<p class="policy-color-gray mandate-text">Der Kunde willigt ein, dass</p>
      <ol>
        <li type="disc" class="policy-color-gray mandate-text">seine unternehmensbezogenen Daten von Liimex im Rahmen des Vertragsverhältnisses zur Begründung, Durchführung und Abwicklung erhoben, gespeichert, verändert, übermittelt, gelöscht und benutzt werden dürfen.</li>
        <li type="disc" class="policy-color-gray mandate-text">die von Liimex als Makler angesprochenen Versicherer im erforderlichen Umfang Daten, die sich aus den Antragsunterlagen oder der Vertragsdurchführung (zum Beispiel Beiträge, Versicherungsfälle, Risiko-/ Vertragsveränderungen) ergeben, an Rückversicherer zur Beurteilung des Risikos und der Ansprüche an andere Versicherer und ihre Verbände und, sofern keine direkte Anbindung an Versicherungsunternehmen besteht, an Unternehmen zur Bündelung von Vermittlungsgeschäft (Maklerpools) oder Dienstleister übermitteln.</li>
      </ol>
      <p class="policy-color-gray mandate-text mid-btm-margin">Diese Einwilligung gilt unabhängig vom Zustandekommen des Vertrags auch für entsprechende Prüfungen bei anderweitig beantragten Verträgen und bei künftigen Anträgen.<br>Der Auftraggeber willigt ferner ein, dass diese Versicherer allgemeine Vertrags-, Abrechnungs- und Leistungsdaten in gemeinsamen Datenbanken führen und an den Makler weitergeben, soweit dies zur ordnungsgemäßen Durchführung seiner Versicherungsangelegenheiten erforderlich ist. Dem Auftraggeber ist bekannt, dass er diese Erklärung über die Entbindung von der Schweigepflicht jederzeit mit Wirkung für die Zukunft widerrufen kann.</p>
      <p class="policy-color-gray mandate-text"><b>Korrespondenz</b></p>
      <p class="policy-color-gray mandate-text mid-btm-margin">Die Korrespondenz des Versicherers wird weiterhin mit dem Versicherungsnehmer/Kunden geführt. Liimex wird jeweils eine Kopie der bestehenden Police sowie etwaige Beitragsanpassungen übersendet. Liimex bleibt das Recht vorbehalten, von dem Versicherer die Kundenkorrespondenz in Kopie anzufordern.</p>
      <p class="policy-color-gray mandate-text"><b>Laufzeit</b></p>
      <p class="policy-color-gray mandate-text mid-btm-margin">Der Versicherungsmaklervertrag und die Vollmacht sind zeitlich nicht befristet und können vom Auftraggeber jederzeit beendet bzw. widerrufen werden.</p>
		</div>
    <div class="grid-content large-12 medium-12 small-12 mandate-page-sign-btn-outer" ng-if="mandate.status !== 'signed'">
      <button type="button" class="btn-yellow" name="button" zf-open="sign_mandate_modal"><b>Sign Broker Mandate</b></button>
    </div>
		<div class="grid-content large-12 medium-12 small-12" ng-if="mandate.status === 'signed'">
      <p class="color-liimex-blue mandate-text mid-btm-margin"><b>You have already signed this mandate</b></p>
    </div>
	</div>
</div>
