---
name: pickindustry_de
url: /de/pickindustry/:isEdit
title: PickIndustry
controller: IndustryController
loginRequired: true
forceRequired: true
---
<div class="grid-container pickindustry-page">
	<div class="grid-block align-center force-wrap">
		<div class="grid-content large-8 medium-8 small-12">
			<div class="card corner bg-white shadow signup-card">
				<div class="card-section left-card login-input-margin">
					<div class="frida-outer">
						<div class="our-frida"></div>
					</div>
					<form class="signup-form flex-form" name="industryform">
						<div class="pickindustry-heading" ng-hide="showIndustrySelectorPage">
							<p class="color-gray center frida-message">Sehr gut! Lassen Sie uns starten, indem Sie unten Ihre Branche eingeben.</p>
						</div>
						<div class="pickindustry-heading" ng-show="showIndustrySelectorPage">
							<p class="color-gray center frida-message">Macht nichts! Versuchen wir einen anderen Ansatz.</p>
						</div>
						<div class="grid-content small-btm-margin large-12 medium-12 small-12 center pickindustry-block" ng-repeat="i in [1,2,3] | limitTo:cat_limit">
							<div ng-if="!showIndustrySelectorPage">
								<input rows="1" class="form-input-fields no-btm-margin pick_industry_input" type="text" autocomplete="off" ng-model="searches[i]" placeholder="z.B. Onlineshop, Rechtsanwalt..." required id="search{{i}}" onkeydown="CheckCategories()" onkeyup="CheckCategories()" ng-change="changeSearchText(searches[i])"/>
								<div class="industry-bg">
									<div class="">
										<div ng-repeat="code in searchResults | limitTo: 6 " class="industry_hover industry-cat-margin" ng-click="Pick(code.code, i, code);">
											<p class="color-liimex-blue no-btm-margin searchable" id="searchable">{{code.code.name_de}}</p>
											<p class="color-gray industry-sub-font">{{code.parent.name_de}} > {{code.secondParent.name_de}}</p>
										</div>
									</div>
								</div>
								<p class="pick-valid-industry" ng-show="is_valid[i] === false">Bitte wählen Sie eine gültige Branche</p>
							</div>
							<div ng-if="showIndustrySelectorPage">
								<div class="grid-content large-12 medium-12 small-12">
									<select ng-model="picked_levels[i][1]" required class="form-input-fields" ng-change="RefreshModel(i, [2,3,4])">
										<option value="" disabled selected="selected" style="display: none;">Bitte wählen Sie eine passende Industrie</option>
										<option ng-repeat="code in industries | sortcodes:{key:1}" value="{{code.code.code}}">{{code.code.name_de}}</option>
									</select>
								</div>
								<div class="grid-content large-12 medium-12 small-12">
									<select ng-disabled="!picked_levels[i][1]" ng-model="picked_levels[i][2]" required class="form-input-fields {{!picked_levels[i][1] && 'pickindustry-disable'}}" ng-change="RefreshModel(i, [3,4])">
										<option value="" disabled selected="selected" style="display: none;">Bitte wählen Sie eine passende Kategorie</option>
										<option ng-repeat="code in industries | sortcodes:{key:2, parent:picked_levels[i][1]}" value="{{code.code.code}}">{{code.code.name_de}}</option>
									</select>
								</div>
								<div class="grid-content large-12 medium-12 small-12">
									<select ng-disabled="!picked_levels[i][2]" ng-if="!(picked_levels[i][2] && !industry_set.has(picked_levels[i][2].concat('.1')))" ng-model="picked_levels[i][3]" ng-required="industry_set.has(picked_levels[i][2].concat('.1'))" class="form-input-fields {{!picked_levels[i][2] && 'pickindustry-disable'}}" ng-change="RefreshModel(i, [4])">
										<option value="" disabled selected="selected" style="display: none;">Bitte wählen Sie eine passende Sub-Kategorie</option>
										<option ng-repeat="code in industries | sortcodes:{key:3, parent:picked_levels[i][2]}" value="{{code.code.code}}">{{code.code.name_de}}</option>
									</select>
								</div>
								<div class="grid-content large-12 medium-12 small-12">
									<select ng-disabled="!picked_levels[i][3]" ng-if="!(!picked_levels[i][3] || !industry_set.has(picked_levels[i][3].concat('.1')))" ng-required="industry_set.has(picked_levels[i][3].concat('.1'))" class="form-input-fields {{!picked_levels[i][3] && 'pickindustry-disable'}}">
										<option value="" disabled selected="selected" style="display: none;">Bitte wählen Sie eine passende Sub-Kategorie</option>
										<option ng-repeat="code in industries | sortcodes:{key:4, parent:picked_levels[i][3]}" value="{{code.code.code}}">{{code.code.name_de}}</option>
									</select>
								</div>
							</div>
							<div class="right-align large-12 medium-12 small-12 no-btm-margin no-btm-padding" ng-if="i>1 && i===cat_limit">
								<button type="button" class="button button-inline no-left-margin no-padding-right no-btm-margin no-btm-padding" ng-click="RemoveCat()">
									<p class="right-align">Entfernen</p>
								</button>
							</div>
						</div>
						<div class="grid-content center large-12 medium-12 small-12 pickindustry-addmore" ng-hide="cat_limit>2">
							<button type="button" class="button button-inline no-left-margin" ng-click="cat_limit = cat_limit+1">
								<p><b><i class="fa fa-plus-square" aria-hidden="true"></i> Weitere Branche</b></p>
							</button>
						</div>
						<div class="grid-content center large-12 medium-12 small-12" ng-hide="showIndustrySelectorPage">
							<button type="button" class="button button-inline" ng-click="toogleShowIndustrySelector(true)">
								<p ><b>Können Sie Ihre Branche nicht finden?</b></p>
							</button>
						</div>
						<div class="grid-content center large-12 medium-12 small-12" ng-show="showIndustrySelectorPage">
							<button type="button" class="button button-inline" ng-click="openContactus()">
								<p ><b>Frida, ich kann meine Industrie nicht finden!</b></p>
							</button>
						</div>
						<div class="grid-content center large-6 medium-12 small-12" ng-show="isEditMode && !showIndustrySelectorPage">
							<button class="btn-yellow-inverse" ng-click="Back()" >Zurück</button>
						</div>
						<div class="grid-content center large-6 medium-12 small-12" ng-show="showIndustrySelectorPage">
							<button class="btn-yellow-inverse" ng-click="toogleShowIndustrySelector(false)" >Zurück</button>
						</div>
						<div class="grid-content center" ng-class="showIndustrySelectorPage || isEditMode?'large-6 medium-12 small-12': 'large-12 medium-12 small-12'">
							<button class="btn-yellow" ng-click="SubmitCategories(industryform)">Weiter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="" src="'partials/de/modals/termsandconditions.html'"></div>

<script type="text/javascript">

	$(document).on("input","input",function() {
		var term = $(this).val();
		$(".searchable").unmark();
		if (term) {
			$(".searchable").mark(term, {
				done: function() {
					//$(".searchable").not(":has(mark)");
				}
			});
		}
	});

	$('.navbar-hamburger-outer').hide();
	$('.navmenu-main').hide();
	$('.fixed-details-right').show();

	if($(window).width()>319 && $(window).width()<768) {
		$('.fixed-details-right').show();
		$('.outerlogoutright').show();

		$('.invisible_nav .fixed-details-right').css('cssText', 'background: transparent !important');
		$('.logout-initial').css('cssText', 'margin: 0');
	}

	$(window).on('resize', function(){
		if($('.card.corner').hasClass('signup-card')) {
			$('.navbar-hamburger-outer').hide();
			$('.navmenu-main').hide();
		}

		if($(window).width()>319 && $(window).width()<768) {
			$('.fixed-details-right').show();
			$('.outerlogoutright').show();

			$('.invisible_nav .fixed-details-right').css('cssText', 'background: transparent !important');
			$('.logout-initial').css('cssText', 'margin: 0');
		} else {
			$('.logout-initial').css('cssText', 'margin: 0 2rem 0.1rem');
		}
	});

</script>
