
<div ng-hide="hide_footer">
  <div class="footer">
    <div class=" grid-block color-blue-dark large-12">
      <div class="grid-content large-3 center footer-block">
        <p class="footer-text footer-company-name">Liimex GmbH</p>
        <p class="footer-text"><i class="fa fa-map-marker" aria-hidden="true"></i>Grimm 14, 20457 Hamburg</p>
        <p class="footer-text"><i class="fa fa-envelope-o" aria-hidden="true"></i>hello@liimex.com</p>
        <p class="footer-text"><i class="fa fa-phone" aria-hidden="true"></i>+49 40-60 59 09 180</p>
      </div>
      <div class="grid-content large-3 center footer-block">
        <p class="footer-text footer-links" ui-sref="overview_de">Übersicht</p>
        <p class="footer-text footer-links" ui-sref="policies_de">Policen</p>
        <p class="footer-text footer-links" ui-sref="claims_de">Schäden</p>
        <p class="footer-text footer-links" ui-sref="account_de">Kundenkonto</p>
      </div>
      <div class="grid-content large-3 center footer-block">
        <p class="footer-text footer-links"><a href="https://www.liimex.com/de" target="_blank">Homepage</a></p>
        <p class="footer-text footer-links"><a href="https://blog.liimex.com" target="_blank">Blog</a></p>
        <p class="footer-text footer-links"><a href="https://www.liimex.com/de/privacy-policy" target="_blank">Datenschutzerklärung</a></p>
        <p class="footer-text footer-links"><a href="https://www.liimex.com/de/impressum" target="_blank">Impressum</a></p>
        <p class="footer-text footer-links"><a href="https://www.liimex.com/de/erstinformation" target="_blank">Erstinformation</a></p>
      </div>
      <div class="grid-content large-3 center footer-block">
        <p class="footer-text pointer" ng-click="changeLang('en')"><span><img class="footer-lang-flag" src="assets/img/english-flag.jpg"></span><b>English</b></p>
        <p class="footer-text">© 2017 Liimex GmbH</p>
        <p class="footer-text">Made with &#9825; in Hamburg</p>
      </div>
    </div>
  </div>
</div>
