<zf-modal id="dismiss_offer_modal" class="upload-modal">
	<!-- <div class="title-bar modal-title">
	</div> -->
	<div class="modal-contents">
		<div class="grid-block force-wrap">
			<div class="grid-content large-12 medium-12 small-12 center">
				<div class="frida-outer">
					<div class="our-frida"></div>
				</div>
				<p class="color-gray frida-message frida-overview-moda">Are you sure you want to dismiss this offer?</p>
				<!-- <h5 class="color-blue-dark light account-title">Are you sure you want to dismiss this offer?</h5> -->
				<p class="color-gray light medium-p small-pad-left small-pad-right">It will disappear from your Offers. If you got this offer from a recommendation, that recommendation will reappear.</p>
			</div>
			<div class="liimefix-small large-12 medium-12 small-12">
			</div>
			<div class="grid-content large-6 medium-6 small-6 center">
				<button class="button button-inverse" type="submit" zf-close="">Close</button>
			</div>
			<div class="grid-content large-6 medium-6 small-6 center">
				<button class="button" type="submit" ng-click="DismissOffer()">Dismiss Offer</button>
			</div>
		</div>
	</div>
</zf-modal>
