<!-- Upload File Modal -->
<zf-modal id="get_quote_modal" class="upload-modal">
	<div class="modal-contents">
			<div class="grid-block force-wrap">
				<div class="grid-content large-12 medium-12 small-12">
					<p class="color-liimex-blue no-btm-padding small-modal-header">Get Quote</p>
				</div>
				<div class="grid-content large-12 medium-12 small-12">
					<p class="color-gray insurance_type_modal">By confirming this action you will send us on a mission to find you the right <b>{{insurance_types[SelectedRecommendationKey].name_en}}</b>. This is of course <b>free</b> and you will not be boud to any offers we collect</p>
				</div>
				<div class="grid-content large-12 medium-12 small-12 upload-btn"></div>
				<div class="grid-content center large-6 medium-6 small-6 ">
					<button class="button button-inverse" type="submit" zf-close="">Not yet</button>
				</div>
				<div class="grid-content center large-6 medium-6 small-6 ">
					<button class="button" type="submit" ng-click="GetQuote(SelectedRecommendationKey)" id="close_upload" ng-disabled="disableGetQuoteBtn">Get Quote</button>
				</div>
			</div>
	</div>
</zf-modal>
