<!-- Uploaded Succesfully Policy -->
<zf-modal id="offer_success_modal" class="upload-modal">
	<div class="modal-contents">
			<div class="grid-block force-wrap">
				<div class="grid-content large-12 medium-12 small-12">
					<p class="color-liimex-blue no-btm-padding small-modal-header"><img class="title-inline-checkmark" src="assets/img/checkmark_blue.svg" alt=""> Thank You</p>
				</div>
				<div class="grid-content large-12 medium-12 small-12">
					<p class="color-gray insurance_type_modal">We have received your request for an offer. You can always view the number of offers currently being collected on your <b ui-sref="overview_en">Overview</b> page. Once the offer is ready, you will be notified by email.</p>
				</div>
				<div class="grid-content large-12 medium-12 small-12 upload-btn"></div>
				<div class="grid-content center large-12 medium-12 small-12 ">
					<button class="button button-inverse" zf-close="">Close</button>
				</div>
			</div>
	</div>
</zf-modal>
