<zf-modal id="cancel_policy_modal" class="upload-modal">
	<div class="modal-contents">
		<div class="grid-block force-wrap">
			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-liimex-blue no-btm-padding small-modal-header">Police auf Liimex entfernen?</p>
			</div>
			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray insurance_type_modal">Versicherung: <b>{{insurance_types[selected_policy.subject].name_de}}</b></p>
				<p class="color-gray insurance_type_modal"><b></b>Versicherungsgesellschaft: <b>{{selected_policy.basic ? carriers[selected_policy.basic.carrier].name : carriers[selected_policy.carrier].name}}</b></p>
			</div>
			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray insurance_type_modal">Sind Sie sicher, dass Sie diese Police von unserer Plattform löschen wollen? Indem Sie die Police löschen, wird diese zwar von unserer Plattform entfernt, jedoch nicht gekündigt. Das Vertragsverhältnis besteht weiterhin. Sofern Sie einen bestehenden Versicherungsvertrag kündigen möchten, senden Sie uns bitte eine Email unter Angabe der <b>Vertragsnummer</b>.</p>
			</div>
			<div class="grid-content large-12 medium-12 small-12 upload-btn"></div>
			<div class="grid-content center large-6 medium-6 small-6 ">
				<button class="button button-inverse" type="submit" zf-close="">Police behalten</button>
			</div>
			<div class="grid-content center large-6 medium-6 small-6 ">
				<button class="button" type="submit" ng-click="CancelPolicy(selected_policy_key)" id="close_upload">Police entfernen</button>
			</div>
		</div>
	</div>
</zf-modal>
