<!-- Uploaded Succesfully Policy -->
<zf-modal id="uploaded_success_modal" class="upload-modal">
	<div class="modal-contents">
			<div class="grid-block force-wrap">
				<div class="grid-content large-12 medium-12 small-12">
					<p class="color-liimex-blue no-btm-padding small-modal-header"><img class="title-inline-checkmark" src="assets/img/checkmark_blue.svg" alt=""> Vielen Dank</p>
				</div>
				<div class="grid-content large-12 medium-12 small-12">
					<p class="color-gray insurance_type_modal">Wir haben Ihre Police erhalten und machen uns gleich an die Arbeit. Bis zur Freigabe durch unsere Experten wird sie als <b>in Bearbeitung</b> gekennzeichnet bleiben. Sobald sie zur Ansicht freigegeben wurde, werden sie per Email benachrichtigt.</p>
				</div>
				<div class="grid-content large-12 medium-12 small-12 upload-btn"></div>
				<div class="grid-content center large-12 medium-12 small-12 ">
					<button class="button button-inverse" zf-close="">Schließen</button>
				</div>
			</div>
	</div>
</zf-modal>
