<!-- Re-Authenticate Modal -->

<zf-modal id="terms_and_conditions" class="large-modal">

	<!-- Fill Account Information -->
	<div class="modal-contents">
		<div class="grid-block force-wrap">

			<div class="grid-content large-12 medium-12 small-12">
				<!-- <h2 class="color-liimex-blue no-btm-padding">Allgemeine Nutzungs- und Geschäftsbedingungen</h2> -->
				<div class="frida-outer">
					<div class="our-frida"></div>
				</div>
				<p class="color-gray frida-message">Allgemeine Nutzungs- und Geschäftsbedingungen!</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray">
					Wir, die Liimex GmbH (nachfolgend: Liimex), sind Betreiberin der Internet-Plattform www.liimex.com. Wir sind als Versicherungsmaklerin im Sinne des § 34d Abs. 1 Gewerbeordnung tätig und im Handelsregister des Amtsgerichts Hamburg unter der Nummer HRB 143170 eingetragen.
				</p>
				<p class="color-gray"><b>Zusammenfassung</b></p>
				<ol class="color-gray">
					<li type="disc">Liimex bietet Services für Unternehmen und Selbständige zur einfachen und digitalen Verwaltung, Optimierung und zum Abschluss von Versicherungsverträgen an</li>
					<li type="disc">Versicherungsverträge werden durch die Einrichtung eines Kundenkontos und/oder Anmeldung zur Digitalen Versicherungsakte bei Liimex nicht verändert, aufgehoben oder neu abgeschlossen. Es findet mit der Anmeldung keine automatische Bestandsübertragung Ihrer Versicherungen auf Liimex statt</li>
					<li type="disc">Sie haben die Möglichkeit uns gesondert als Versicherungsmakler zu bevollmächtigen und zu beauftragen. Als unabhängiger Versicherungsmakler stehen wir wirtschaftlich auf Ihrer Seite und vertreten Ihre Interessen	</li>
					<li type="disc">Der Abschluss, die Veränderung oder die Kündigung bestehender Verträge sowie die Übertragung des Bestands Ihrer Versicherungen auf Liimex erfolgt nur mit Ihrer ausdrücklichen Einwilligung</li>
					<li type="disc"> Unsere Dienstleistungen sind kostenfrei und das Vertragsverhältnis ist jederzeit kündbar</li>
				</ol>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>1. Geltungsbereich</b></p>
				<p class="color-gray">1.1. Die nachfolgenden Allgemeinen Nutzungs- und Geschäftsbedingungen (nachfolgend: AGB) regeln das Verhältnis zwischen Ihnen als Kunde von Liimex über unsere Internetplattform oder andere Kommunikationswege (z.B. Telefon, E-Mail, Fax). Diese AGB gelten auch für alle zukünftigen Geschäftsbeziehungen, die wir mit Ihnen eingehen, soweit keine abweichenden Vereinbarungen getroffen wurden.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">1.2. Sämtliche von Liimex auf der Internetplattform erbrachten Leistung (nachfolgend: Liimex Services) können Sie nur nutzen, wenn Sie sich hierfür auf unserer Internetplattform liimex.com anmelden und ein Kundenkonto einrichten. Die Anmeldung ist kostenlos. Mit der Anmeldung erkennen Sie den Inhalt dieser AGB ausdrücklich an. Abweichende und/oder ergänzende Vereinbarungen bedürfen unserer ausdrücklichen schriftlichen Zustimmung.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>2. Informationen über Liimex</b></p>
				<p class="color-gray">2.1. Wir sind als unabhängiger Versicherungsmakler tätig und stehen wirtschaftlich auf Ihrer Seite und vertreten Ihre Interessen.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">2.2. Wir sind als Versicherungsmakler mit Erlaubnis gemäß § 34d Abs. 1 Gewerbeordnung bei der Handelskammer Hamburg, Adolphsplatz 1, 20457 Hamburg zugelassen und mit der Vermittlernummer D-60G1-P816J-37 bei Deutscher Industrie- und Handelskammertag (DIHK) e.V., Breite Straße 29, 10178 Berlin registriert.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">2.3. Wir besitzen keine direkte oder indirekte Beteiligung von über zehn Prozent an den Stimmrechten oder am Kapital eines Versicherungsunternehmens. Kein Versicherungsunternehmen oder Mutterunternehmen eines Versicherungsunternehmens besitzt eine direkte oder indirekte Beteiligung von über zehn Prozent an Stimmrechten bzw. am Kapital von uns.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>3. Nutzungsbedingungen für Liimex Services</b></p>
				<p class="color-gray no-btm-margin">3.1. Nutzungsangebot</p>
				<p class="color-gray">3.1.1. Liimex bietet Ihnen die Möglichkeit, kostenlos und unverbindlich unsere Internetplattform zu nutzen, um nach einer passenden Versicherung zu suchen. Außerdem können Sie bestehende Verträge übersichtlich verwalten und optimieren, wenn Sie zusätzlich zum Kundenkonto eine Digitale Versicherungsakte angelegt haben (siehe Ziffer 4). Dabei werden alle objektiven und anerkannten Bewertungsmaßstäbe für Versicherungsprodukte berücksichtigt.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">3.1.2. Die Nutzung unserer Internetplattform ersetzt eine Beratung nicht. Für eine umfassende Beratung bieten wir Ihnen die Möglichkeit, telefonisch, schriftlich, per E-Mail oder im persönlichen Gespräch Kontakt mit uns aufzunehmen. Auf der Webseite finden Sie sämtliche Kontaktdaten.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">3.1.3. Soweit wir Ihnen mit der Nutzung unserer Internetplattform die Möglichkeit bieten, Ihre bestehenden Versicherungsverträge zu prüfen, erfolgt dies anhand objektiver, allgemeiner und anerkannter Bewertungsmaßstäbe. Allerdings ersetzt die Nutzung unserer Internetplattform eine umfassende und individuelle Beratung nicht. Hierzu stehen wir Ihnen telefonisch, schriftlich, per E-Mail oder im persönlichen Gespräch zur Verfügung.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">3.1.4. Die von uns angebotene Nutzung der Liimex Services, insbesondere unserer Internetplattform, ist ein freiwilliges Angebot und wird ohne Anerkenntnis einer Rechtspflicht erbracht. Wir behalten uns das Recht vor, die Nutzungsmöglichkeit zu begrenzen, zu ändern oder einzustellen. Etwas anderes gilt, soweit wir uns gesondert gegenüber Ihnen zur Leistungserbringung vertraglich verpflichten.</p>
			</div>


			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray no-btm-margin">3.2. Geschütztes Eigentum</p>
				<p class="color-gray no-btm-margin">3.2.1. Sie dürfen die Internetplattform von Liimex nur zu den dort vorgesehenen Zwecken nutzen. Sie dürfen keine Teile der Internetplattform in Ihre eigenen Computerprogramme einbringen oder mit ihnen zusammensetzten, sie verkaufen, vermieten, verleihen, vertreiben oder unterlizenzieren. Sie dürfen Liimex nicht für illegale Zwecke nutzen.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">3.2.2. Um Liimex stets aktuell zu halten, dürfen wir jederzeit und ohne vorige Ankündigung Updates unserer Internetplattform vornehmen.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray no-btm-margin">3.3. Ihre Mitwirkungspflichten</p>
				<p class="color-gray">3.3.1. Sie verpflichten sich, uns alle Angaben, die für die Anmeldung zu Liimex und die Nutzung unserer Software erforderlich sind, wahrheitsgemäß anzugeben. Änderungen (u.a. Ihrer Anschrift, Ansprechpartner, T elefonnummern, E-Mail-Adresse, Mitarbeiterzahl, Geschäftstätigkeit, Finanzkennzahlen, Risikosituation) teilen Sie uns unverzüglich mit.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">3.3.2. Sie tragen dafür Sorge, dass Ihr Benutzername und Ihr Passwort für die Benutzung der Internetplattform Unbefugten nicht zugänglich gemacht werden. Insbesondere dürfen Sie Ihre Zugangsdaten nicht an Unbefugte weitergeben, Unbefugten aufgrund unzureichend geschützter Aufbewahrung Zugriff verschaffen oder ein Passwort verwenden, dass Sie bereits für andere Dienste verwenden.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">3.3.3. Sie verpflichten sich, Ihr Passwort in regelmäßigen Abständen zu ändern und uns Fälle von Missbrauch und unbefugten Zugriff auf Ihre Zugangsdaten unverzüglich zu melden.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">3.4. Nutzungsdauer Sie können jederzeit Ihren Account bei Liimex abmelden.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>4 Digitale Versicherungsakte</b></p>
				<p class="color-gray">Sie können ihre Versicherungsverträge unabhängig davon, ob diese über Liimex abgeschlossen wurden, unserer „Digitalen Versicherungsakte“ hinzufügen und dort verwalten. Grundvoraussetzung für die Nutzung der Digitalen Versicherungsakte von Liimex ist die Anlage eines Liimex Kundenkontos.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin">4.1. Digitale Verarbeitung der Versicherungsverträge</p>
				<p class="color-gray">Eine Darstellung der Verträge in der Digitalen Versicherungsakte ist nur möglich, wenn Liimex die Versicherungsverträge digital bereitgestellt wurden. Um eine Kopie der Versicherungsverträge von Versicherern erhalten zu können, benötigt Liimex eine Vollmacht vom Versicherungsnehmer. Mit dieser Vollmacht fordern wir dann im Namen des Kunden Vertragsdetails und -dokumente (z.B. Kopien der Versicherungsscheine) von den uns genannten Versicherern an.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">Sofern Liimex Vertragsdetails und Dokumente von den Versicherern erhalten, wird Liimex diese digital erfassen und in der Digitalen Versicherungsakte hinterlegen. Sofern die Versicherer keine Vertragsdetails und Dokumente zur Verfügung stellen, haben Kunden keinen Anspruch auf die Darstellung von Vertragsdetails und Dokumenten in der Digitalen Versicherungsakte.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin">4.2. Von uns übernommene Verwaltungsdienstleistungen</p>
				<p class="color-gray">Liimex wird im Rahmen der Zustimmung zur Vertragsverwaltungsdienstleistung nicht zum Versicherungsmakler der Verträge. Eine Versicherungsmaklerfunktion besteht explizit nur, wenn ein Versicherungsmaklervertrag zustande gekommen ist (siehe Ziffer 5). Sofern wir nicht als Versicherungsmakler beauftragt wurden, wird Liimex die in der Digitalen Versicherungsakte verwalteten Verträge nicht überprüfen und auch nicht feststellen, ob die Verträge zur Bedarfssituation der Kunden passen oder etwaige Deckungslücken im Rahmen der bestehenden</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">Verträge oder darüber hinaus bestehen. Liimex steht es frei, den Kunden auf Kündigungsfristen hinzuweisen, ihm Möglichkeiten zur Verfügung zu stellen Tarife zu vergleichen und für einige Versicherungsprodukte auf möglicherweise bedarfsgerechtere und/oder passende T arife hinzuweisen. Die Prüfung der Eignung der Verträge für die Bedarfssituation des Kunden obliegt in diesem Fall ausschließlich dem Kunden. Liimex stellt lediglich Fragekataloge und Dialogführungssysteme zur Verfügung, um die Prüfung der Eignung durch die Kunden zu vereinfachen.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">4.3. Regelmäßige Vertragsprüfung im Rahmen eines dauerhaften Maklermandates für Liimex Auf expliziten und aktiven Wunsch kann ein Liimex Kunde seine Versicherungsverträge von Liimex dauerhaft auf Eignung für seine Bedarfssituation überprüfen lassen und dabei auch prüfen lassen, ob es bessere und/oder bedarfsgerechtere und zudem möglicherweise preisgünstigere Tarifalternativen für ihn gibt. Diese Prüfungsoption bedingt die zwingende Übertragung eines dauerhaften Versicherungsmaklermandates an Liimex für die in der Digitalen Versicherungsakte verwalteten Verträge.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin">4.4. Mitwirkungspflichten</p>
				<p class="color-gray">Liimex kann dem Kunden nicht garantieren, dass sämtliche dargestellten Vertragsdetails vollständig und/oder inhaltlich korrekt in jeweiligen Digitalen Versicherungsakte angezeigt werden. Dieses kann daher rühren, dass das System nicht sämtliche rechtliche und/oder leistungsbezogene Aspekte des jeweiligen Vertrages abbilden kann und/oder auf Grund von menschlichem Versagen es zu Fehleingaben gekommen ist und daher fehlerhaft Werte dargestellt werden und/oder durch technisches Versagen es zu Fehler in der Darstellung kommt. Der Kunde ist daher verpflichtet, die dargestellten Werte und/oder Informationen auf Vollständigkeit und Richtigkeit zu überprüfen und Liimex unverzüglich über mögliche Abweichungen zu informieren.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>5. Unsere Leistungen als Versicherungsmakler</b></p>
				<p class="color-gray no-btm-margin">5.1. Versicherungsmaklermandat</p>
				<p class="color-gray">5.1.1. Soweit wir für Sie als Versicherungsmakler tätig werden, erfolgt dies nur aufgrund eines gesondert über die Internetplattform, per E-Mail, schriftlich oder telefonisch von Ihnen erteilten und durch Liimex bestätigten Auftrags. Sie haben insbesondere die Möglichkeit, auf www.liimex.com oder auf einem digitalen Endgerät zu unterschreiben und uns mittels Bestätigung des Bestätigungsfeldes ein rechtsverbindliches Angebot auf Abschluss des Versicherungsmaklervertrages zu unterbreiten. Sobald wir die Annahme des Angebotes bestätigt haben, kommt der Versicherungsmaklervertrag zustande.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">5.1.2. Wenn Sie uns als Versicherungsmakler beauftragt und bevollmächtigt haben, vertreten wir Sie aktiv und passiv gegenüber den Versicherern.</p>
				<p class="color-gray">Wir</p>
				<ol class="color-gray">
					<li class="small-list-margin" type="disc">geben alle notwendigen Willenserklärungen ab und</li>
					<li class="small-list-margin" type="disc">nehmen diese auch entgegen,</li>
					<li class="small-list-margin" type="disc">schließen neue Verträge ab,</li>
					<li class="small-list-margin" type="disc">ändern bestehende Verträge und</li>
					<li class="small-list-margin" type="disc">kündigen bestehende Verträge.</li>
				</ol>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">Wir handeln immer nur mit Ihrem ausdrücklichen Einverständnis. Eine Ausnahme besteht dann, wenn die Herstellung des Versicherungsschutzes eilbedürftig ist.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">5.1.3. Soweit Sie uns als Versicherungsmakler bevollmächtigen, teilen wir Ihrem Versicherern mit, dass Sie uns als Versicherungsmakler bevollmächtigt haben.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray no-btm-margin">5.2. Beratungsgrundlage bei der Versicherungsvermittlung</p>
				<p class="color-gray">5.2.1. Wenn wir Ihnen den Abschluss eines Versicherungsvertrages empfehlen, legen wir unserem Rat eine hinreichende Zahl von auf dem Markt angebotenen Versicherungsverträgen und Versicherern zugrunde, die es uns ermöglichen, nach fachlichen Kriterien eine Empfehlung dahingehend abzugeben, ob bestehende und künftige Versicherungsverträge geeignet sind Ihre Bedürfnisse zu erfüllen. Unser Ziel ist es, Ihnen ein Versicherungsprodukt entsprechend Ihren Bedürfnissen zu vermitteln. Unsere Empfehlungen basieren neben Kriterien wie Preis-Leistungs- Verhältnis, Regulierungsverhalten, Service des Versicherers, Zügigkeit der Zahlungen, Know- How bei der Regulierung auch auf unseren Erfahrungen aus der Betreuung von anderen Versicherungsnehmern.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">5.2.2. Wir berücksichtigen im Rahmen unserer Tätigkeit für Sie vorrangig Versicherungsverträge die in deutscher Sprache verfasst sind und dem deutschen Recht unterliegen. Wir werden jedoch keine Direktversicherer und solche Versicherungsunternehmen berücksichtigen, die nicht mit uns zusammenarbeiten wollen.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray no-btm-margin">5.3 Beratungspflichten</p>
				<p class="color-gray">5.3.1 Bei der Vermittlung von Versicherungsverträgen wird Liimex Sie, soweit nach der Schwierigkeit, die angebotene Versicherung zu beurteilen, oder aufgrund Ihrer Person und Ihre Situation hierfür Anlass besteht, nach Ihren Wünschen und Bedürfnissen befragen und unter Berücksichtigung eines angemessenen Verhältnisses zwischen Beratungsaufwand und der von Ihnen zu zahlenden Prämien gemäß § 61 Abs. 1 VVG beraten.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">5.3.2 Nur wenn Sie dies ausdrücklich wünschen, werden wir eine allgemeine Risikoanalyse vornehmen und die bestehenden Versicherungsverträge auf Zweckmäßigkeit und Deckungslücken überprüfen. Etwas anderes gilt nur dann, wenn ein erkennbarer Beratungsanlass besteht, der den Rückschluss zulässt, dass Sie eine umfassende Risikoanalyse wünschen. Allein der Auftrag, die bestehenden Versicherungsverträge zu verwalten, stellt einen solchen erkennbaren Anlass jedoch nicht dar. Wir werden daher nicht von sich aus an Sie herantreten und aktiv nachfragen, ob sich Ihre Risikosituation geändert hat. Erforderlich ist vielmehr, dass Sie einen Beratungsanlass (siehe: Ziffer 5.4) zu erkennen geben haben.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">5.3.3 Die Empfehlungen zur Anpassung des Versicherungsvertragsportfolios werden den Kunden digital und per Email zur Verfügung gestellt. Sofern ein Kunde den Empfehlungen von Liimex nicht folgt, übernimmt Liimex auch keine Haftung für die Adäquatheit der Absicherung des Kunden für seine Bedarfssituation. Entstehende Deckungslücken können auch zu existenzbedrohenden Risiken führen.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray no-btm-margin">5.4. Mitwirkungspflichten</p>
				<p class="color-gray">5.4.1. Damit wir unsere Pflichten als Versicherungsmakler erfüllen können, sind wir auf Ihre Mitwirkung angewiesen. Wir bitten Sie daher, uns alle Angaben, die für die vertragsgemäße Ausführung unserer Beratungs-, Verwaltungs- und Vermittlungspflichten erforderlich sind, zeitnah und wahrheitsgemäß zur Verfügung zu stellen. Änderungen (u.a. Ihrer Anschrift, Ansprechpartner, T elefonnummern, E-Mail-Adresse, Mitarbeiterzahl, Finanzkennzahlen, Geschäftstätigkeit, Risikosituation) teilen Sie uns unverzüglich mit. Zudem müssen Sie uns alle Versicherungsverträge in digitaler Form zur Verfügung stellen damit diese in der Digitalen Versicherungsakte verwaltet werden können. Wenn Sie Ihren Mitwirkungspflichten nicht nachkommen, können wir Ihre Versicherungsverträge nicht der geänderten Risikosituation anpassen.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">5.4.2. Ist Ihre Mitwirkung bei der Abgabe von Willenserklärungen gegenüber den Versicherern oder sonstigen Dritten erforderlich zur Erfüllung des von Ihnen erteilten Maklermandates, insbesondere bei der Kündigung, Änderung und Abschluss einer Versicherung, verpflichten Sie sich, auf unsere Aufforderung oder die des Versicherers hin und mit unserer Unterstützung ohne schuldhaftes Zögern die entsprechenden Erklärungen abzugeben.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray no-btm-margin">5.5. Vergütung</p>
				<p class="color-gray">Wir erbringen unsere Leistungen für Sie ohne zusätzliche direkte Kosten. Gewohnheitsrechtlich tragen die Versicherer die Vergütung für unsere Betreuungs- und Vermittlungstätigkeiten (Maklercourtage). Ihnen entstehen keine weiteren direkten Kosten.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray no-btm-margin">5.6. Beendigung des Versicherungsmaklermandates</p>
				<p class="color-gray">Der Versicherungsmaklervertrag mit uns kann von beiden Seiten jederzeit gekündigt werden. Von unserer Seite aber nicht zur Unzeit, es sei denn, es liegt ein wichtiger Grund vor.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>6. Elektronische Kommunikation</b></p>
				<p class="color-gray">Mit der Anmeldung bei Liimex erkennen Sie an, dass wir Ihnen sämtliche Informationen, Mitteilungen oder sonstige Erklärungen auch über unsere Internetplattform oder per E-Mail digital übermitteln dürfen. Soweit Sie uns als Versicherungsmakler bevollmächtigen und beauftragen, zählen hierzu auch sämtliche Informationen, Mitteilungen über Dienste oder sonstige Erklärungen, die den Abschluss, die Verwaltung und Abwicklung von Versicherungsverträgen betreffen. Ausgenommen sind lediglich Erklärungen, die der gesetzlichen Schriftform bedürfen und von deren Formerfordernis nicht abgewichen werden kann.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>7. Haftung / Schadensersatz</b></p>
				<p class="color-gray">Liimex wird die vereinbarten Leistungen mit der Sorgfalt eines ordentlichen Versicherungsmaklers ausüben und leistet Schadensersatz, gleich aus welchem Rechtsgrund, ausschließlich nach den folgenden Grundsätzen:</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">7.1 Liimex haftet Ihnen gegenüber in allen Fällen vertraglicher und außervertraglicher Haftung bei Vorsatz und grober Fahrlässigkeit nach Maßgabe der gesetzlichen Bestimmungen auf Schadensersatz oder Ersatz vergeblicher Aufwendungen. Gleiches gilt bei Verletzungen des Lebens, des Körpers und der Gesundheit, die auf einer fahrlässigen Pflichtverletzung von Liimex oder deren Erfüllungsgehilfen beruht.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">7.2 In sonstigen Fällen haften wir nur bei der Verletzung einer Vertragspflicht, deren Erfüllung die ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglicht und auf deren Einhaltung Sie regelmäßig vertrauen dürfen (sogenannte Kardinalpflicht), und zwar beschränkt auf einen Betrag in Höhe von 1.130.000 EUR je Schadenfall. Bei mehreren Schäden ist die Haftung auf insgesamt Euro 2,5 Mio. pro Kalenderjahr begrenzt.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">Der Auftraggeber wird Liimex unverzüglich informieren, soweit das vorhersehbare Risiko nach Auffassung des Auftraggebers bei Vertragsabschluss die vorstehenden Summen übersteigt.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">7.3 Erfüllt der Auftraggeber seine Mitwirkungspflichten aus dem Vertrag nicht, nicht einwandfrei oder nicht rechtzeitig, so wird Liimex von den korrespondierenden Leistungsverpflichtungen frei und kann einen angemessenen Schadensersatz verlangen oder eine angemessene Nachfrist zur vollständigen Erfüllung setzen, mit der Androhung der fristlosen Kündigung, falls die Nachfrist fruchtlos verstreicht.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">7.4 Liimex haftet nicht für die Richtigkeit und Vollständigkeit der vom Auftraggeber überlassenen Unterlagen und sonstigen Informationen sowie wegen Mängeln oder Fehlern, die erbrachte Dienstleistungen und erstellte Gutachten aufgrund fehlerhafter oder unvollständiger Informationen des Auftraggebers aufweisen.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>8. Datenschutzerklärung</b></p>
				<p class="color-gray">Die Erhebung, Speicherung und Verarbeitung Ihrer Daten regelt unsere Datenschutzerklärung. Die Datenschutzerklärung ist auf liimex.com abrufbar.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>9. Inhalte der Internetseite liimex.com</b></p>
				<p class="color-gray">9.1. Der gesamte Inhalt, der in einem Liimex Service (dies schließt liimex.com ein) enthalten ist oder durch einen Liimex Service bereitgestellt wird, wie Text, Grafik, Logos, Button-Icons, Bilder, Audio-Clips und Datensammlungen, ist Eigentum von Liimex oder von Dritten, die Inhalte zuliefern oder auf der Webseite bereitstellen, und ist urheberrechtlich geschützt.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">9.2. Sie dürfen ohne unsere ausdrückliche schriftliche Zustimmung nicht Teile eines Liimex Services extrahieren und/oder wiederverwenden. Insbesondere dürfen Sie ohne die ausdrückliche schriftliche Zustimmung von Liimex kein Data Mining, keine Robots oder ähnliche Datensammel- und Extraktionsprogramme einsetzen, um irgendwelche wesentlichen Teile eines Liimex Services zur Wiederverwendung zu extrahieren (gleichgültig ob einmalig oder mehrfach). Sie dürfen ferner ohne die ausdrückliche schriftliche Zustimmung von Liimex keine eigene Datenbank herstellen und/oder veröffentlichen, die wesentliche Teile eines Liimex Services beinhaltet.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b>10. Schlussbestimmungen</b></p>
				<p class="color-gray">10.1 Wenn wir etwas von den AGB abweichendes oder die AGB ergänzendes vereinbaren, muss dies in Textform erfolgen (Schriftformklausel). Ansonsten wird die neue Regelung nicht gültig. Dies gilt auch für die Schriftformklausel.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">10.3 Auf das Vertragsverhältnis findet ausschließlich deutsches Recht Anwendung.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">12.4 Gerichtsstand ist Hamburg, sofern und soweit nicht zwingendes Recht einen anderen Gerichtsstand vorschreibt.</p>
			</div>

			<div class="grid-content large-12 medium-12 small-12">
				<p class="color-gray no-btm-margin"><b></b></p>
				<p class="color-gray">Stand: Januar 2017</p>
			</div>

			<div class="grid-content login-input-margin center">
				<button type="button" class="button button-inverse" zf-close="">Close</button>
			</div>

		</div>
	</div>

</zf-modal>
